<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <application>

        <activity
            android:name="com.bahercoding.smiledetectorlib.MainActivity"
            android:exported="false"/>
        <activity android:name="com.bahercoding.smiledetectorlib.ResultActivity" />
    </application>

</manifest>